<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidawesome.asu.squareface.androidawesomestuff" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Activities on mainActivity START-->
        <activity android:name=".material.design.MaterialDesignActivity"/>
        <activity android:name=".style.stuff.StyleActivity"/>
        <activity android:name=".layout.stuff.LayoutStuffActivity"/>
        <activity android:name=".component.stuff.ComponentStuffActivity"/>
        <activity android:name=".pattern.stuff.PatterStuffActivity"/>
        <activity android:name=".animation.stuff.AnimationStuffActivity"/>
        <activity android:name=".coolstuff.CoolStuffActivity"/>
        <activity android:name=".coolstuff.InputGestureActivity"/>
        <activity android:name=".component.stuff.PieChartActivity"/>
        <!-- Activities on mainActivity END-->
    </application>

</manifest>
